body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px 40px;
    font-family: 'Manrope', sans-serif;
    position: fixed;
    bottom: 0;
    background-color: #FFF;
}

.company-text {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-items {
    margin-top: 40px;
    padding: 0;
}

.sidebar-items li {
    list-style-type: none;

    &:not(:last-child) {
        border-bottom: 1px solid #EBEBEB;

    }
}


.list-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.list-item :hover,
.list-item :active {
    color: #FF6B00;
    fill: #FF6B00;
}

.sidebar-list-text {
    margin-left: 24px;
    text-transform: capitalize;
    color: #A0A0A0;
    font-size: 16px;
    font-weight: 600;
}

.user-info {
    margin-top: auto;
}

.user-name {
    font-size: 18px;
    font-weight: 600;
}

.user-type-wrapper {
    padding: 2px 10px;
    width: fit-content;
    border-radius: 6px;
    margin-top: 14px;
    background: rgba(255, 107, 0, 0.10);
}

.user-type {
    color: #FF6B00;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.dashboard-wrapper {
    width: 100%;
    margin-left: 256px;
    background-color: #FAFAFA;
    padding: 100px 60px 0 40px;
    font-family: 'Manrope', sans-serif;

    & .notification {
        display: flex;
        justify-content: end;
    }

    & .dashboard-title {
        color: #3B3551;
        font-size: 25px;
        font-weight: 800;
        margin: 30px 0 0 0;
    }

    & .cards-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        & .small-card {
            width: 360px;
            height: 185px;

            & p {
                color: #3B3551;
            }

            & p:not(:first-child) {
                margin: 10px 0 0 0;
            }

            & .card-title {
                font-size: 18px;
                font-weight: 600;
            }

            & .card-count {
                font-size: 40px;
                font-weight: 400;
            }

            & .card-percent-content {
                display: flex;

                & .card-percent-ratio {
                    color: #6F7F95;
                    font-size: 14px;
                    font-weight: 600;
                }

            }

        }

        & .medium-card {
            width: 760px;
            height: 340px;

            & .medium-card-title-properties {
                display: flex;
                justify-content: space-between;

                & .chart-title {
                    font-size: 20px;
                    color: #3B3551;
                    font-weight: 700;
                }

            }

            & .chart-container {
                margin-top: 10px;
            }

            & .top-partner-title {
                display: flex;
                justify-content: space-between;
                padding: 40px 40px 0;

                & .chart-options {
                    display: flex;

                    & .chart-option-text {
                        color: #6F7F95;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }

            & .top-partner-count-container {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                flex: 1;

                & .partner-count-wrapper {
                    width: 100%;
                    text-align: center;

                    &:not(:last-child) {
                        border-right: 2px solid #EBEBEB;
                    }

                    & .partner-count {
                        color: #3B3551;
                        font-size: 40px;
                        font-weight: 500;
                        margin-top: 12px;
                    }

                    & .partner-activation-container {
                        display: flex;
                        justify-content: center;
                        margin-top: 12px;

                        & .partner-activation {
                            color: #6F7F95;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }

                    & .partner-name-text {
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
                        margin-top: 50px;
                    }

                }
            }

        }

        & .large-card {
            width: 100%;
            height: 500px;

            & .title-section {
                display: flex;
                justify-content: space-between;
            }

            & .table-wrapper {
                overflow: auto;
                margin-top: 20px;

                & .open-invoice-table {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;

                    & th {
                        text-align: left;
                        padding: 20px;
                        border-bottom: 1px solid #EBEBEB;
                    }

                    & th:first-child {
                        text-align: left;
                        width: 50%;
                    }

                    & th:last-child {
                        text-align: right;
                        padding: 20px 20px 20px 0;
                    }

                    & td {
                        border-bottom: 1px solid #EBEBEB;
                        padding: 20px;
                        text-align: left;
                    }

                    & .affiliate-name {
                        color: #FF6B00;
                    }

                    & .accounting-date {
                        color: #6B6B6B;
                    }

                    & .billable {
                        color: #90D272;
                    }

                    & td.invoice-select {
                        text-align: right;
                        padding: 0 18px 0 0;
                    }

                    & .invoice-status {
                        background-color: #e5e7eb;
                        border: none;
                        padding: 8px 10px;
                        border-radius: 20px;
                        appearance: none;
                    }

                }

                & .activation-table {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;

                    & th {
                        text-align: left;
                        padding: 20px;
                        border-bottom: 1px solid #EBEBEB;
                    }

                    /* & th:first-child {
                        text-align: left;
                        width: 50%;
                    } */

                    & th:last-child {
                        text-align: right;
                        padding: 20px 20px 20px 0;
                    }

                    & td {
                        border-bottom: 1px solid #EBEBEB;
                        padding: 20px;
                        text-align: left;
                        color: #6B6B6B;
                    }

                    & .card-type {
                        background: rgba(255, 107, 0, 0.10);

                        padding: 0 12px;
                        color: #FF6B00;
                        width: max-content;
                        text-align: center;
                        border-radius: 10px;
                    }

                    & .billable {
                        color: #90D272;
                    }

                    & .actions {
                        text-align: right;
                    }

                }

            }

            & .pagination {
                margin-top: 20px;
                display: flex;
                float: right;

                & .pagination-count-container {
                    background-color: #FFF;
                    border-radius: 6px;
                    display: flex;
                    box-shadow: 0px 3px 4px 0px rgba(227, 227, 227, 0.29);

                    & .pagination-count {
                        color: #6F7F95;
                        padding: 8px 12px;

                        &:not(:last-child) {
                            border-right: 1px solid rgba(111, 127, 149, 0.1);
                        }

                    }

                    & .pagination-count.active {
                        background: #EBEBEB;
                    }
                }

                & .next-button {
                    color: #fff;
                    border-radius: 10px;
                    margin: 0 15px;
                    padding: 6px 18px;
                    border-color: transparent;
                    background-color: #FF6B00;
                }
            }



        }

        & .card-properties {
            background-color: #FFF;
            box-shadow: 0px 3px 4px 0px rgba(227, 227, 227, 0.29);
            border-radius: 10px;
            padding: 40px;
        }

        & .top-partner-container {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
}

.decrement-svg-container {
    margin-left: 8px;
}

.chart-title {
    font-size: 20px;
    color: #3B3551;
    font-weight: 700;
}

.chart-options {
    display: flex;

    & .chart-option-text {
        color: #6F7F95;
        font-size: 16px;
        font-weight: 600;
    }
}


table,
tr,
td,
th {
    margin: auto;
    border: none;
}